@using Newtonsoft.Json
@{
    ViewBag.Title = "Oneclick Mall";
}

<h2>@ViewBag.Title</h2>
<h4>MallTransaction.Authorize</h4>

<h4>Request:</h4>
<pre style="background-color: lightyellow;">
POST: https://webpay3gint.transbank.cl/rswebpaytransaction/api/oneclick/v1.0/transactions
<code class="json">
    {
        "user_name": "@ViewBag.UserName",
        "tbk_user": "@ViewBag.TbkUser",
        "buy_order": "@ViewBag.BuyOrder",
        "details": [
            {
                "amount": "@ViewBag.Details.Amount",
                "commerce_code": "@ViewBag.Details.CommerceCode",
                "buy_order": "@ViewBag.Details.BuyOrder",
                "installments_number": "@ViewBag.Details.InstallmentsNumber"
            }
        ]
    }
</code>
</pre>

<h4>Response:</h4>
<pre>
<code>
@ViewBag.Result
</code>
</pre>

<a href="javascript: document.globalForm.submit();" class="btn btn-primary">Iniciar Transacción</a>

<script>
    document.globalForm.innerHTML += '<input type="hidden" name="TBK_TOKEN" id="TBK_TOKEN" value="@ViewBag.Token" />'
    
    window.localStorage.setItem('user_name','@ViewBag.UserName');
</script>