<h1>Ejemplos Webpay</h1>
<table border="0" style="margin-top:50px;" class="table">
    <tr>
        <td>
            <h3>Webpay Plus</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Crear Transacción", "NormalCreate", "WebpayPlus")</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Reembolsar Transacción", "NormalRefund", "WebpayPlus")</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Estado de la Transacción", "NormalStatus", "WebpayPlus")</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Webpay Plus Mall</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Crear Transacción", "MallCreate", "WebpayPlus")</h3>
        </td>
        <td>
            <h3> - </h3>
        </td>
        <td>
            <h3> - </h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Webpay Plus Diferido</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Crear Transacción", "DeferredCreate", "WebpayPlus")</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Reembolsar Transacción", "DeferredRefund", "WebpayPlus")</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Estado de la Transacción", "DeferredStatus", "WebpayPlus")</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Transacción Completa</h3>
        </td>
        <td>
            <h3>
                <a href="tbk-complete.aspx">Webpay Completa</a>
            </h3>
        </td>
        <td>
            <h3>
                <a href="tbk-nullify-complete.aspx">Webpay Completa Anulación </a>
            </h3>
        </td>
        <td>
            <h3> - </h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Webpay OneClick</h3>
        </td>
        <td>
            <h3>
                <a href="tbk-oneclick.aspx">Webpay OneClick</a>
            </h3>
        </td>
        <td>
            <h3> - </h3>
        </td>
        <td>
            <h3> - </h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Patpass by Webpay</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Crear Transaccion", "Create", "PatpassByWebpay")</h3>
        </td>
        <td>
            <h3> - </h3>
        </td>
        <td>
            <h3><h3>@Html.ActionLink("Estado de la Transacción", "RequestStatus", "PatpassByWebpay")</h3></h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Patpass Comercio</h3>
        </td>
        <td>
            <h3>@Html.ActionLink("Iniciar Inscripcion", "Start", "PatpassComercio")</h3>
        </td>
        <td>
            <h3>-</h3>
        </td>
    </tr>
</table>